/* Vertical Menu */
/* line 5, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu {
  float: left;
  width: 100%;
  padding: 0;
  z-index: 5;
}
@media (max-width: 991px) {
  /* line 5, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu {
    left: 0;
    position: absolute;
    bottom: 0px;
    margin: 0;
  }
}
/* line 16, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu {
  padding: 0;
  margin: 0;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 16, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu {
    background: white;
    border: 1px solid #e0e0e0;
    display: none;
    position: absolute;
    padding: 1%;
    text-align: left;
    z-index: 1;
  }
}
@media (max-width: 991px) {
  /* line 30, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu li ul {
    display: none;
    padding: 0 0 0 10px;
  }
}
/* line 36, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li {
  display: block;
  position: relative;
}
@media (max-width: 991px) {
  /* line 36, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li {
    position: relative;
    display: block;
    float: left;
    width: 100%;
  }
  /* line 44, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li span {
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 2;
  }
  /* line 52, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li span:after {
    font-family: "FontAwesome";
    content: "\f067";
    font-size: 10px;
    color: #515151;
    cursor: pointer;
    line-height: 30px;
  }
  /* line 61, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li span.active:after {
    content: "\f068";
  }
}
/* line 67, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li > a {
  color: #333;
  display: block;
  position: relative;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  /* line 67, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li > a {
    padding: 5px 0 5px 10px;
  }
}
@media (min-width: 992px) {
  /* line 77, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li .tmvm_menu_container {
    border: 1px solid #e0e0e0;
    background: white;
    min-width: 180px;
    position: absolute;
    transform: scale(0, 0);
    -webkit-transition: 300ms ease;
    -webkit-transition-delay: 0ms;
    -moz-transition: 300ms ease 0ms;
    -o-transition: 300ms ease 0ms;
    transition: 300ms ease 0ms;
    top: 0;
    left: 100%;
    z-index: 1;
  }
}
@media (max-width: 991px) {
  /* line 77, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li .tmvm_menu_container {
    float: left;
    width: 100%;
  }
}
/* line 94, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner {
  float: left;
  padding: 15px 0;
  position: relative;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 94, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner {
    width: 100% !important;
    padding: 0;
  }
}
/* line 103, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col {
  float: left;
  width: 100%;
}
/* line 106, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul {
  padding: 0 15px;
  float: left;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 106, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul {
    padding: 0 0 0 10px;
  }
}
/* line 113, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li {
  float: left;
  padding: 0 10px;
  width: 179px;
}
@media (max-width: 991px) {
  /* line 113, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li {
    width: 100%;
    position: relative;
    padding: 0;
  }
}
/* line 122, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail {
  padding: 10px;
  width: 100%;
}
/* line 125, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail > div {
  margin-top: 10px;
}
/* line 127, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail > div:fisrt-child {
  margin: 0;
}
/* line 130, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail > div img {
  max-width: 100%;
}
/* line 135, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li > a {
  display: block;
  color: #333;
  padding: 5px 0 5px 10px;
  text-transform: capitalize;
}
/* line 140, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li > a:hover {
  color: #246ab1;
}
/* line 145, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li {
  position: relative;
}
/* line 147, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li a {
  display: block;
  padding: 5px 0 5px 10px;
  color: #333;
}
/* line 151, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li a:hover {
  color: #246ab1;
}
/* line 155, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li ul {
  padding: 0 0 0 10px;
}
/* line 167, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li.tm-haschild > a:after {
  font-family: fontawesome;
  float: right;
}
@media (min-width: 992px) {
  /* line 174, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .tmvm-menu > li.tm-haschild:hover .tmvm_menu_container {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* line 184, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu > li.tmHover > a,
#tm_vertical_menu .tmvm-menu > li > a:hover, #tm_vertical_menu .tmvm-menu > li.tmHoverForce > a {
  color: #246ab1;
}
@media (max-width: 991px) {
  /* line 189, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .cat-title {
    cursor: pointer;
    display: block;
    font: bold 13px/23px "Poppins", Arial, Helvetica, sans-serif;
    padding: 21px 20px 20px 0;
    position: relative;
    text-transform: uppercase;
    width: 150px;
    color: #fff;
  }
  /* line 199, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .cat-title:after {
    display: block;
    font-family: "FontAwesome";
    content: "\f0c9";
    position: absolute;
    right: 30px;
    top: 22px;
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  /* line 189, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu .cat-title {
    text-align: left;
    padding: 21px 20px 20px 2px;
  }
}

/* line 215, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu .tmvm-menu .tmvm_menu_col > span {
  top: -30px;
}

/* Horizontal Menu */
@media (max-width: 1860px) and (min-width: 1200px) {
  /* line 220, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #top_column #tm_vertical_menu_top {
    width: 21%;
  }
}

/* line 226, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#index #tm_vertical_menu_top .tmvm-menu {
  display: none;
}

/* line 230, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top {
  float: left;
  width: 270px;
  padding: 0;
  background: #fff;
  min-height: auto;
}
@media (max-width: 1199px) {
  /* line 230, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top {
    width: 200px;
  }
}
@media (max-width: 991px) {
  /* line 230, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top {
    width: 100%;
  }
}
/* line 247, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  background: #fff;
  z-index: 5;
  border: 1px solid #e0e0e0;
}
@media (max-width: 991px) {
  /* line 247, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu {
    /*background: $light-background;
    
    
    
    padding: 1%;
    text-align: left;*/
    z-index: 9;
    display: none;
    position: absolute;
    border: none;
  }
}
@media (max-width: 991px) {
  /* line 268, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu li ul {
    display: none;
    padding: 0 0 0 10px;
  }
}
/* line 274, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li {
  position: relative;
}
@media (max-width: 991px) {
  /* line 274, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li {
    position: relative;
    display: block;
    float: left;
    width: 100%;
  }
  /* line 282, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li span {
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 2;
  }
  /* line 290, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li span:after {
    font-family: "FontAwesome";
    content: "\f067";
    font-size: 10px;
    color: #515151;
    cursor: pointer;
    line-height: 30px;
  }
  /* line 299, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li span.active:after {
    content: "\f068";
  }
}
/* line 305, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li > a {
  color: #333;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  width: 85%;
  margin-left: 20px;
  -webkit-transition: 300ms ease;
  -webkit-transition-delay: 0ms;
  -moz-transition: 300ms ease 0ms;
  -o-transition: 300ms ease 0ms;
  transition: 300ms ease 0ms;
}
@media (max-width: 991px) {
  /* line 305, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li > a {
    padding: 5px 0;
    border: none;
  }
}
/* line 320, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li > a:hover {
  color: #246ab1;
}
@media (min-width: 992px) {
  /* line 324, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container {
    border: 1px solid #e0e0e0;
    background: white;
    min-width: 180px;
    position: absolute;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: 300ms ease;
    -webkit-transition-delay: 0ms;
    -moz-transition: 300ms ease 0ms;
    -o-transition: 300ms ease 0ms;
    transition: 300ms ease 0ms;
    z-index: 9;
  }
}
@media (max-width: 991px) {
  /* line 324, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container {
    float: left;
    width: 100%;
  }
}
/* line 339, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner {
  float: left;
  padding: 15px 0;
  position: relative;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 339, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner {
    width: 100% !important;
    padding: 0;
  }
}
/* line 348, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col {
  float: left;
  width: 100%;
}
/* line 351, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul {
  padding: 0 15px;
  float: left;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 351, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul {
    padding: 0 0 0 10px;
  }
}
/* line 358, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li {
  float: left;
  padding: 0 10px;
  width: 179px;
}
@media (max-width: 991px) {
  /* line 358, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li {
    width: 100%;
    position: relative;
    padding: 0;
  }
}
/* line 367, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail {
  padding: 10px;
  width: 100%;
}
/* line 370, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail > div {
  margin-top: 10px;
}
/* line 372, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail > div:fisrt-child {
  margin: 0;
}
/* line 375, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li.category-thumbnail > div img {
  max-width: 100%;
}
/* line 380, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li > a {
  display: block;
  font-weight: 400;
  color: #246ab1;
  padding: 5px 0;
  text-transform: capitalize;
  font-size: 14px;
}
/* line 389, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li {
  position: relative;
}
/* line 391, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li a {
  display: block;
  padding: 5px 0;
  color: #333;
}
/* line 395, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li a:hover {
  color: #246ab1;
}
/* line 399, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li .tmvm_menu_container .tmvm_menu_inner .tmvm_menu_col > ul > li ul li ul {
  padding: 0 0 0 10px;
}
/* line 411, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li.tm-haschild > a:after {
  content: "\f105";
  font-family: "FontAwesome";
  margin: 0 0 0 10px;
  float: right;
  position: relative;
}
@media (max-width: 991px) {
  /* line 411, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li.tm-haschild > a:after {
    display: none;
  }
}
@media (min-width: 992px) {
  /* line 423, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .tmvm-menu > li.tm-haschild:hover .tmvm_menu_container {
    transform: scale(1, 1);
  }
}
/* line 433, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu > li.tmHover > a,
#tm_vertical_menu_top .tmvm-menu > li > a:active, #tm_vertical_menu_top .tmvm-menu > li.tmHoverForce > a {
  color: #246ab1;
}
/* line 438, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .cat-title {
  display: block;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 20px 20px;
  font-weight: 600;
}
@media (max-width: 1199px) {
  /* line 438, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .cat-title {
    font-size: 13px;
    margin: 24px 20px 20px;
  }
}
@media (max-width: 991px) {
  /* line 438, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .cat-title {
    cursor: pointer;
    display: block;
    font: bold 13px/23px "Poppins", Arial, Helvetica, sans-serif;
    position: relative;
    text-transform: uppercase;
    margin: 20px 20px 20px 10px;
  }
  /* line 457, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #tm_vertical_menu_top .cat-title:after {
    display: block;
    font-family: "FontAwesome";
    content: "\f0c9";
    position: absolute;
    right: -32px;
    top: 0px;
    font-size: 21px;
  }
}

/* line 469, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#tm_vertical_menu_top .tmvm-menu .tmvm_menu_col > span {
  top: -30px;
}

/* line 470, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
.tmvm_menu_container {
  float: left;
  left: 100%;
  top: 10px;
}

/* line 475, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#index #left_column #tm_vertical_menu_top {
  display: none;
}

/* line 478, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#left_column #tm_vertical_menu_top {
  top: -20px;
  z-index: 8;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 478, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #left_column #tm_vertical_menu_top {
    display: none;
  }
}

/* line 487, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
.headerdiv #tm_vertical_menu {
  display: none;
}
@media (max-width: 991px) {
  /* line 487, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  .headerdiv #tm_vertical_menu {
    display: block;
  }
}

@media (max-width: 991px) {
  /* line 493, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
  #top_column #tm_vertical_menu_top {
    display: none;
  }
}

/* line 498, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
.tmvmmenu-content > li:first-child {
  margin-top: 8px;
}

/* line 502, ../../../../../sass/modules/tmverticalmenu/views/css/tmverticalmenu.scss */
#left_column #tm_vertical_menu_top .tmvm-menu {
  position: relative;
}
